<div class="left mr5px">
    <%= link_to raw("<span>Sign in with Facebook</span>"), user_omniauth_authorize_path(:facebook), :class => "sing_in_facebook" %>
</div>
<div class="left mr5px">
    <%= link_to raw("<span>Sign in with Twitter"), user_omniauth_authorize_path(:twitter), :class => "sing_in_twitter" %>
</div>
<div class="clear"></div>